


.error{
  color: red;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
  margin: 2em;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.63);
}

.label{
  margin: 1em;
  color: rgb(55, 100, 100);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}